<nav>
  <ul>
    <li>
      <a
        [routerLink]="[ '/' ]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >Home</a>
    </li>
    <li
      *ngFor="let item of navLinks"
    >
      <a
        [routerLink]="[ item.routerLink ]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.notExact ? false : true }"
      >{{ item.title }}</a>
      <ul *ngIf="item.subitems">
        <li *ngFor="let subItem of item.subitems">
          <a
            [routerLink]="[ subItem.routerLink ]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: subItem.notExact ? false : true }"
          >{{ subItem.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
